@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ff4500;
  --secondary: #36bcf0;
  --dark: #111;
  --light: #eee;
  --grey-d: #333;
  --grey-m: #888;
  --grey-l: #ccc;
  --xxs: 1px;
  --xs: 3px;
  --sm: 5px;
  --md: 8px;
  --lg: 10px;
  --xl: 12px;
  --xxl: 16px
}

body {
  font-family: 'League Spartan';
  background-color: var(--dark);
}

.logo {
  font-family: 'Great Vibes', cursive;
  color: var(--primary);
  font-weight: lighter;
  letter-spacing: 1px;;
}

h2 {
  color: var(--secondary);
  font-weight: 100;
}